<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bit.pixelopolis_station">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="station_pixelopolis"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="com.bit.pixelopolis_station.activities.UpdateAppActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.bit.pixelopolis_station.activities.StandbyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bit.pixelopolis_station.activities.PromoVideoActivity"
            android:label="@string/title_activity_promo_video"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name="com.bit.pixelopolis_station.activities.SelectPlaceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bit.pixelopolis_station.activities.NavigateCarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bit.pixelopolis_station.activities.SetupConfigActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>